<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wirecard.ezlinkwebservices.mapperdao.ETranxDetailsDtoMapper" >
  <resultMap id="BaseResultMap" type="com.wirecard.ezlinkwebservices.dto.ETranxDetailsDto" >
    <result column="SNO" property="sno" jdbcType="VARCHAR" />
    <result column="TRANXLOG_ID" property="tranxlogId" jdbcType="VARCHAR" />
    <result column="TRANXTYPE" property="tranxtype" jdbcType="VARCHAR" />
    <result column="DATETIME" property="datetime" jdbcType="TIMESTAMP" />
    <result column="RESPONSE_CODE" property="responseCode" jdbcType="VARCHAR" />
    <result column="DETAILS" property="details" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.wirecard.ezlinkwebservices.dto.ETranxDetailsDto" >
  <selectKey order="BEFORE" keyProperty="sno" resultType="String">
   select SEQ_ETRANX_DETAILS.nextval from dual
  </selectKey>
    insert into EZLINK.ETRANX_DETAILS (SNO, TRANXLOG_ID, TRANXTYPE, 
      DATETIME, RESPONSE_CODE,DETAILS)
    values (#{sno,jdbcType=VARCHAR}, #{tranxlogId,jdbcType=VARCHAR}, #{tranxtype,jdbcType=VARCHAR}, 
       #{datetime,jdbcType=TIMESTAMP}, #{responseCode,jdbcType=VARCHAR}, #{details,jdbcType=VARCHAR})
  </insert>
  <!--
   #{details,jdbcType=VARCHAR}
  <insert id="insertSelective" parameterType="com.wirecard.ezlinkwebservices.dto.ETranxDetailsDto" >
    insert into EZLINK.ETRANX_DETAILS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sno != null" >
        SNO,
      </if>
      <if test="tranxlogId != null" >
        TRANXLOG_ID,
      </if>
      <if test="tranxtype != null" >
        TRANXTYPE,
      </if>
      <if test="datetime != null" >
        DATETIME,
      </if>
      <if test="responseCode != null" >
        RESPONSE_CODE,
      </if>
      <if test="details != null" >
        DETAILS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sno != null" >
        #{sno,jdbcType=VARCHAR},
      </if>
      <if test="tranxlogId != null" >
        #{tranxlogId,jdbcType=VARCHAR},
      </if>
      <if test="tranxtype != null" >
        #{tranxtype,jdbcType=VARCHAR},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseCode != null" >
        #{responseCode,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
      #{details,jdbcType=VARCHAR}
    </trim>
  </insert>
  -->
</mapper>